{% extends "base.html" %}

{% block title %}Password set{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3 p-5">
    <div class="text-center mb-4">
      <h1>Password set successfully</h1>
    </div>
    <div class="bg-light p-4 rounded">
      <p>Your password has been set. You can now log in using either:</p>
      <ul>
        <li>Google authentication (click "Sign in with Google")</li>
        <li>Email and password (using the password you just set)</li>
      </ul>
      <div class="text-center mt-4">
        {% if request.user.profile.role == 'staff' %}
        <a href="{% url 'main_app:dashboard' %}" class="btn btn-primary">Go to Dashboard</a>
        {% else %}
        <a href="{% url 'main_app:pc-reservation' %}" class="btn btn-primary">Go to Home</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

