{% extends 'base.html' %}
{% load static %}

{% block title %}Block Reservation Approval{% endblock %}

{% block content %}
<div class="container col-md-4">
  <div class="header text-center mt-3 mb-3">
    <h2>Block Reservation Approval</h2>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h4>Details</h4>
    </div>
    <div class="card-body">
      <div class="bg-light p-2 mb-2">
        <h4 class="text-center">Requester</h4>
        <p><strong>Name: </strong>{{ reservation.faculty.get_full_name }} <br>
          <strong>ID: </strong>{{ reservation.faculty.profile.school_id }} <br>
          <strong>Course: </strong>{{ reservation.faculty.profile.course }} <br>
          <strong>Year: </strong>{{ reservation.faculty.profile.year }} <br>
          <strong>Block: </strong>{{ reservation.faculty.profile.block }}
        </p>
      </div>
      <div class="bg-light p-2">
        <h4 class="text-center">Booking details</h4>
        <p>
          <strong>College: </strong>{{ reservation.college.name }} <br>
          <strong>Course: </strong>{{ reservation.course }} <br>
          <strong>Block: </strong>{{ reservation.block }} <br>
          <strong>From: </strong>{{ reservation.start_datetime }} <br>
          <strong>To: </strong>{{ reservation.end_datetime }} <br>
          <strong>Attached file: </strong>
          <a href="{% url 'main_app:view_file' filename=reservation.file.name %}" class="btn btn-sm btn-outline-secondary">
            view attachment
          </a>
          <br>
          <strong>Number of PC: </strong>{{ reservation.num_of_devices }}
        </p>
      </div>
    </div>
  </div><!-- end of card -->
  <div id="control" class="p2 text-center mt-2">
    <a href="{% url 'main_app:block-reservation-approved' pk=reservation.pk %}" class="btn btn-lg btn-success rounded rounded-3">approve</a>
    <a href="{% url 'main_app:block-reservation-declined' pk=reservation.pk %}" class="btn btn-lg btn-danger rounded rounded-3">decline</a>
  </div>
</div>
{% endblock %}